header {
  text-align: center;
  font-size: 350%;
  background-color: #A9A9A9;
}

.flexcontainer {
  width:100%;
  height: 100%;
  background-color: #F0FFFF;
}


.flex {
  background-color: salmon;
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
}

footer {
  background-color: gray;
}
