header {
  text-align: center;
  font-size: 350%;
  background-color: #A9A9A9;
}

.flexcontainer {

  top: 160px;
  left: 200px;
  background-color: #F0FFFF;
}

.row{
  display: flex;
  justify-content: center;
}

.flex {
  background-color: salmon;
  width: 200px;
  height: 300px;
  margin: 15px;
  border-radius: 15px;
  transition: 0.6s;
  transform-style: preserve-3d;
}

img  {
  margin: 5px;
  height: 200px;
  width: 190px;
  border-radius: 15px;
  position: fixed;
  top: 30px;
}


.front, .back {
  backface-visibility: hidden;
}

.front {
  z-index: 1;
  transform:rotateY(0deg);
}

.back {
  z-index: 2;
  transform: rotateY(180deg);
}



